<h1>Stations</h1>

<table class="table table-bordered table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Sector</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @stations.each do |station| %>
  <tr>
    <td><%= link_to station.name, station %></td>
    <td><%= link_to station.sector, station.sector %></td>
    <td><%= link_to 'Edit', edit_station_path(station) %> <%= link_to 'Destroy', station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= link_to 'New Station', new_station_path %>
