<p id="notice"><%= notice %></p>

<h1>Station: <%= @station.name %> (<%= link_to @station.sector, @station.sector %>)</h1>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
