<p id="notice"><%= notice %></p>

<h1>Race: <%= @race.name %></h1>

<p>
<b>Description:</b>
<%= @race.description %>
</p>

<h2>Sectors</h2>

<ul>
  <% @race.sectors.each do |sector| %>
    <li><%= link_to sector.name, sector %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>

